#imgCambio
    display: none;
    text-align: center;
    background: none repeat scroll 0 0 #666;
    bottom: 0;
    height: 200px;
    opacity: 0.7;
    position: absolute;
    width: 200px;
#imgPpl
    position: relative;
    width: 200px;
#imgPpl:hover
    opacity: 0.7;
#cargar_txt
    color: #fff;
    font-size: 2.2em;
    font-weight: bold;
    position: absolute;
    right: 13px;
    text-align: center;
    top: 25px;
#cargar_txt p
    border: medium solid;
    left: 2px;
    opacity: 1;
    position: relative;
    top: -15px;
.visDatos
    display:none;
    width: 80px;
.visDatosGeneral
    display:none;
.visBtnGuardar
    display:none;
.cambioClave
    display: none;
.botonesSuperiores
    margin: 0 0 5px;
.imgCambio_botones
    bottom: 0;
    left: 0;
    margin: 0 0 15px;
    position: absolute;
    width: 200px;

.cargar_img
    border: 2px dashed #fff;
    border-radius: 8px;
    box-shadow: 0 0 3px #000, 0 4px 15px #eee inset;
    cursor: pointer;
    height: 140px;
    margin: 10px;
    position: absolute;
    width: 180px;
    input[type=file] 
        cursor: pointer
        position: relative
        height: 100%
        width: auto
        opacity: 0
        -moz-opacity: 0
        color: #f3f3f3
        -moz-border-radius: 6px
        -webkit-border-radius: 6px
        background-image: -moz-linear-gradient(top, #0cb114, #07580b)
        background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #07580b),color-stop(1, #0cb114))
        -webkit-box-shadow: #4b4b4b 0px 2px 5px
        -moz-box-shadow: #4e4e4e 0px 2px 5px
        box-shadow: #e3e3e3 0px 2px 5px
        border: none
        z-index: 3

.cargar_txt span
    margin: 0 0 0 12px;
    z-index: 2
#tbPermisosDisponibles #tablaHorarios label
    display: block;

#email, #usuario, #password, #passwordConfirm
    text-transform:lowercase;